@model Product
@{
    ViewData["Title"] = "Product";
}

<form method="post" asp-action="Upsert">
    <div class="border pt-3 mt-3">
        <div class="row pb-2">
            <h2 class="text-primary">Upsert Product</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"> </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Desription"></label>
            <textarea asp-for="Desription" rows="3" class="form-control"></textarea>
            <span asp-validation-for="Desription" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ISBN"></label>
            <input asp-for="ISBN" class="form-control" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ListPrice"></label>
            <input asp-for="ListPrice" class="form-control" />
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price50"></label>
            <input asp-for="Price50" class="form-control" />
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price100"></label>
            <input asp-for="Price100" class="form-control" />
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>


        <div>
            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
            <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:150px"><i class="bi bi-arrow-left-square"></i> &nbsp; Go back</a>
        </div>
    </div>
</form>



@*Page won't reach server unless all necessary data is provided*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
